<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/lu_cyP" target="_blank" >Twitter</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-star fa-lg main-list-item-icon"></span>
    <a href="http://lucypatterson.de/" target="_blank" >Professional portfolio</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-rss fa-lg main-list-item-icon"></span>
    <a href="https://medium.com/@lu_cyP" target="_blank" >Blog</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-microphone fa-lg main-list-item-icon"></span>
    <a href="https://diysciencepodcast.org/" target="_blank" >DIY science podcast</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="http://bobahehe.tumblr.com/" target="_blank" >Inspiration blog</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://www.linkedin.com/in/lucyjpatterson" target="_blank" >LinkedIn</a>
  </li>
</ul>
