<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/lu_cyP">Twitter</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://www.linkedin.com/in/lucyjpatterson">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="http://bobahehe.tumblr.com/">Inspiration blog</a>
  </li>
</ul>
